[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
psutil = "*"
requests = "*"
pylast = "*"
customtkinter = "*"
pystray = "*"
pywinauto = "*"
bs4 = "*"
dotenv = "*"
pillow = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
